BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInContainerLiterals: false
ReflowComments: true
